In [1]:
import json

import pandas as pd
import urllib3

pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

header_data = {
    'Host': 'stats.nba.com',
    'Connection': 'keep-alive',
    'Cache-Control': 'max-age=0',
    'Upgrade-Insecure-Requests': '1',
    'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/66.0.3359.181 Safari/537.36',
    'Referer': 'stats.nba.com',
    'Accept-Encoding': 'gzip, deflate, br',
    'Accept-Language': 'en-US,en;q=0.9',
    'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8',
}


# endpoints
def play_by_play_url(game_id):
    return "https://stats.nba.com/stats/playbyplayv2/?gameId={0}&startPeriod=0&endPeriod=14".format(game_id)


def advanced_boxscore_url(game_id, start, end):
    return "https://stats.nba.com/stats/boxscoreadvancedv2/?gameId={0}&startPeriod=0&endPeriod=14&startRange={1}&endRange={2}&rangeType=2".format(game_id, start, end)


http = urllib3.PoolManager()


def extract_data(url):
    print(url)
    r = http.request('GET', url, headers=header_data)
    resp = json.loads(r.data)
    results = resp['resultSets'][0]
    headers = results['headers']
    rows = results['rowSet']
    frame = pd.DataFrame(rows)
    frame.columns = headers
    return frame


def calculate_time_at_period(period):
    if period > 5:
        return (720 * 4 + (period - 5) * (5 * 60)) * 10
    else:
        return (720 * (period - 1)) * 10


def split_subs(df, tag):
    subs = df[[tag, 'PERIOD', 'EVENTNUM']]
    subs['SUB'] = tag
    subs.columns = ['PLAYER_ID', 'PERIOD', 'EVENTNUM', 'SUB']
    return subs

game_id = "0041700404"
frame = extract_data(play_by_play_url(game_id))

substitutionsOnly = frame[frame["EVENTMSGTYPE"] == 8][['PERIOD', 'EVENTNUM', 'PLAYER1_ID', 'PLAYER2_ID']]
substitutionsOnly.columns = ['PERIOD', 'EVENTNUM', 'OUT', 'IN']

subs_in = split_subs(substitutionsOnly, 'IN')
subs_out = split_subs(substitutionsOnly, 'OUT')

full_subs = pd.concat([subs_out, subs_in], axis=0).reset_index()[['PLAYER_ID', 'PERIOD', 'EVENTNUM', 'SUB']]
first_event_of_period = full_subs.loc[full_subs.groupby(by=['PERIOD', 'PLAYER_ID'])['EVENTNUM'].idxmin()]
players_subbed_in_at_each_period = first_event_of_period[first_event_of_period['SUB'] == 'IN'][['PLAYER_ID', 'PERIOD', 'SUB']]

periods = players_subbed_in_at_each_period['PERIOD'].drop_duplicates().values.tolist()

frames = []
for period in periods:

    low = calculate_time_at_period(period) + 5
    high = calculate_time_at_period(period + 1) - 5
    boxscore = advanced_boxscore_url(game_id, low, high)
    boxscore_players = extract_data(boxscore)[['PLAYER_NAME', 'PLAYER_ID', 'TEAM_ABBREVIATION']]
    boxscore_players['PERIOD'] = period

    players_subbed_in_at_period = players_subbed_in_at_each_period[players_subbed_in_at_each_period['PERIOD'] == period]

    joined_players = pd.merge(boxscore_players, players_subbed_in_at_period, on=['PLAYER_ID', 'PERIOD'], how='left')
    joined_players = joined_players[pd.isnull(joined_players['SUB'])][['PLAYER_NAME', 'PLAYER_ID', 'TEAM_ABBREVIATION', 'PERIOD']]
    frames.append(joined_players)

out = pd.concat(frames)
print(out)

https://stats.nba.com/stats/playbyplayv2/?gameId=0041700404&startPeriod=0&endPeriod=14
https://stats.nba.com/stats/boxscoreadvancedv2/?gameId=0041700404&startPeriod=0&endPeriod=14&startRange=5&endRange=7195&rangeType=2
https://stats.nba.com/stats/boxscoreadvancedv2/?gameId=0041700404&startPeriod=0&endPeriod=14&startRange=7205&endRange=14395&rangeType=2
https://stats.nba.com/stats/boxscoreadvancedv2/?gameId=0041700404&startPeriod=0&endPeriod=14&startRange=14405&endRange=21595&rangeType=2
https://stats.nba.com/stats/boxscoreadvancedv2/?gameId=0041700404&startPeriod=0&endPeriod=14&startRange=21605&endRange=28795&rangeType=2
         PLAYER_NAME  PLAYER_ID TEAM_ABBREVIATION  PERIOD
0       Kevin Durant     201142               GSW       1
1     Draymond Green     203110               GSW       1
2       JaVale McGee     201580               GSW       1
3      Klay Thompson     202691               GSW       1
4      Stephen Curry     201939               GSW       1
9       LeBron James       2544               CLE       1
10        Kevin Love     201567               CLE       1
11  Tristan Thompson     202684               CLE       1
12          JR Smith       2747               CLE       1
13       George Hill     201588               CLE       1
1     Draymond Green     203110               GSW       2
3      Klay Thompson     202691               GSW       2
4      Stephen Curry     201939               GSW       2
7   Shaun Livingston       2733               GSW       2
9         David West       2561               GSW       2
10      LeBron James       2544               CLE       2
15       Rodney Hood     203918               CLE       2
16        Jeff Green     201145               CLE       2
17       Kyle Korver       2594               CLE       2
18   Larry Nance Jr.    1626204               CLE       2
0       Kevin Durant     201142               GSW       3
1     Draymond Green     203110               GSW       3
2       JaVale McGee     201580               GSW       3
3      Klay Thompson     202691               GSW       3
4      Stephen Curry     201939               GSW       3
8       LeBron James       2544               CLE       3
9         Kevin Love     201567               CLE       3
10  Tristan Thompson     202684               CLE       3
11          JR Smith       2747               CLE       3
12       George Hill     201588               CLE       3
1     Draymond Green     203110               GSW       4
3      Stephen Curry     201939               GSW       4
4     Andre Iguodala       2738               GSW       4
6   Shaun Livingston       2733               GSW       4
8         David West       2561               GSW       4
13       George Hill     201588               CLE       4
14       Rodney Hood     203918               CLE       4
15        Jeff Green     201145               CLE       4
16       Kyle Korver       2594               CLE       4
17   Larry Nance Jr.    1626204               CLE       4

In [3]:
players_subbed_in_at_period

    PLAYER_ID  PERIOD SUB
76       2544       4  IN
84       2585       4  IN
81     101181       4  IN
77     201142       4  IN
75     201156       4  IN
78     202691       4  IN
82    1626172       4  IN
80    1626224       4  IN
85    1627775       4  IN
87    1627790       4  IN
86    1628395       4  IN

In [6]:
substitutionsOnly = frame[frame["EVENTMSGTYPE"] == 8][['PERIOD', 'EVENTNUM', 'PLAYER1_ID', 'PLAYER2_ID']]
substitutionsOnly.columns = ['PERIOD', 'EVENTNUM', 'OUT', 'IN']
substitutionsOnly

     PERIOD  EVENTNUM      OUT       IN
40        1        54   202691     2738
59        1        80   201580  1628395
66        1        89   201588   203918
67        1        90   202684   201145
85        1       117   203110     2733
86        1       118   201939   201156
91        1       127     2747     2594
103       1       143     2544  1626204
104       1       145   201142   201939
147       2       210   203918     2747
151       2       216     2561   201142
152       2       217     2733  1628395
174       2       248   202691     2738
181       2       257  1626204   201588
182       2       258     2594   201567
183       2       259   201145   202684
186       2       266  1628395   201580
218       2       309   201588   201145
222       2       319   201939     2733
230       2       329   201567   203918
231       2       330     2747  1626204
232       2       331     2738   202691
233       2       332   203110   201939
234       2       333     2733   201156
280       3       406   202684   201145
284       3       411   201580  1628395
298       3       431   201588   203918
315       3       457     2747  1626204
316       3       458   203110     2738
317       3       459   201939     2733
337       3       487   201567     2594
354       4       518     2738   201156
369       4       537   201145     2544
373       4       544     2733   201142
382       4       557     2561   202691
383       4       558   201156     2738
421       4       610     2544  1626224
422       4       612   201588   101181
430       4       623     2738  1626172
431       4       624   202691   201156
432       4       625   203110     2585
433       4       626   201939  1627775
434       4       627   201142  1628395
446       4       647     2594  1627790

In [7]:
full_subs = pd.concat([subs_out, subs_in], axis=0).reset_index()[['PLAYER_ID', 'PERIOD', 'EVENTNUM', 'SUB']]

    PLAYER_ID  PERIOD  EVENTNUM  SUB
0      202691       1        54  OUT
1      201580       1        80  OUT
2      201588       1        89  OUT
3      202684       1        90  OUT
4      203110       1       117  OUT
..        ...     ...       ...  ...
83     201156       4       624   IN
84       2585       4       625   IN
85    1627775       4       626   IN
86    1628395       4       627   IN
87    1627790       4       647   IN

[88 rows x 4 columns]

In [22]:
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
full_subs.groupby(by=['PERIOD', 'PLAYER_ID'])['EVENTNUM'].idxmin()

PERIOD  PLAYER_ID
1       2544          7
        2594         50
        2733         48
        2738         44
        2747          6
                     ..
4       1626172      82
        1626224      80
        1627775      85
        1627790      87
        1628395      86
Name: EVENTNUM, Length: 68, dtype: int64

In [23]:
first_event_of_period = full_subs.loc[full_subs.groupby(by=['PERIOD', 'PLAYER_ID'])['EVENTNUM'].idxmin()]
first_event_of_period

    PLAYER_ID  PERIOD  EVENTNUM  SUB
7        2544       1       143  OUT
50       2594       1       127   IN
48       2733       1       117   IN
44       2738       1        54   IN
6        2747       1       127  OUT
..        ...     ...       ...  ...
82    1626172       4       623   IN
80    1626224       4       610   IN
85    1627775       4       626   IN
87    1627790       4       647   IN
86    1628395       4       627   IN

[68 rows x 4 columns]

In [10]:
players_subbed_in_at_each_period = first_event_of_period[first_event_of_period['SUB'] == 'IN'][['PLAYER_ID', 'PERIOD', 'SUB']]
players_subbed_in_at_each_period

    PLAYER_ID  PERIOD SUB
50       2594       1  IN
48       2733       1  IN
44       2738       1  IN
47     201145       1  IN
49     201156       1  IN
46     203918       1  IN
51    1626204       1  IN
45    1628395       1  IN
56       2738       2  IN
53       2747       2  IN
54     201142       2  IN
67     201156       2  IN
58     201567       2  IN
60     201580       2  IN
57     201588       2  IN
59     202684       2  IN
55    1628395       2  IN
74       2594       3  IN
73       2733       3  IN
72       2738       3  IN
68     201145       3  IN
70     203918       3  IN
71    1626204       3  IN
69    1628395       3  IN
76       2544       4  IN
84       2585       4  IN
81     101181       4  IN
77     201142       4  IN
75     201156       4  IN
78     202691       4  IN
82    1626172       4  IN
80    1626224       4  IN
85    1627775       4  IN
87    1627790       4  IN
86    1628395       4  IN

In [12]:
low = calculate_time_at_period(period) + 5
high = calculate_time_at_period(period + 1) - 5
boxscore = advanced_boxscore_url(game_id, low, high)
boxscore_players = extract_data(boxscore)[['PLAYER_NAME', 'PLAYER_ID', 'TEAM_ABBREVIATION']]
boxscore_players['PERIOD'] = period

players_subbed_in_at_period = players_subbed_in_at_each_period[players_subbed_in_at_each_period['PERIOD'] == period]
players_subbed_in_at_period

https://stats.nba.com/stats/boxscoreadvancedv2/?gameId=0041700404&startPeriod=0&endPeriod=14&startRange=21605&endRange=28795&rangeType=2

    PLAYER_ID  PERIOD SUB
76       2544       4  IN
84       2585       4  IN
81     101181       4  IN
77     201142       4  IN
75     201156       4  IN
78     202691       4  IN
82    1626172       4  IN
80    1626224       4  IN
85    1627775       4  IN
87    1627790       4  IN
86    1628395       4  IN

In [13]:
joined_players = pd.merge(boxscore_players, players_subbed_in_at_period, on=['PLAYER_ID', 'PERIOD'], how='left')
joined_players

         PLAYER_NAME  PLAYER_ID TEAM_ABBREVIATION  PERIOD  SUB
0       Kevin Durant     201142               GSW       4   IN
1     Draymond Green     203110               GSW       4  NaN
2      Klay Thompson     202691               GSW       4   IN
3      Stephen Curry     201939               GSW       4  NaN
4     Andre Iguodala       2738               GSW       4  NaN
5        Jordan Bell    1628395               GSW       4   IN
6   Shaun Livingston       2733               GSW       4  NaN
7         Nick Young     201156               GSW       4   IN
8         David West       2561               GSW       4  NaN
9       Kevon Looney    1626172               GSW       4   IN
10     Zaza Pachulia       2585               GSW       4   IN
11     Patrick McCaw    1627775               GSW       4   IN
12      LeBron James       2544               CLE       4   IN
13       George Hill     201588               CLE       4  NaN
14       Rodney Hood     203918               CLE       4  NaN
15        Jeff Green     201145               CLE       4  NaN
16       Kyle Korver       2594               CLE       4  NaN
17   Larry Nance Jr.    1626204               CLE       4  NaN
18        Cedi Osman    1626224               CLE       4   IN
19     Jose Calderon     101181               CLE       4   IN
20        Ante Zizic    1627790               CLE       4   IN

In [14]:
joined_players = joined_players[pd.isnull(joined_players['SUB'])][['PLAYER_NAME', 'PLAYER_ID', 'TEAM_ABBREVIATION', 'PERIOD']]
joined_players

         PLAYER_NAME  PLAYER_ID TEAM_ABBREVIATION  PERIOD
1     Draymond Green     203110               GSW       4
3      Stephen Curry     201939               GSW       4
4     Andre Iguodala       2738               GSW       4
6   Shaun Livingston       2733               GSW       4
8         David West       2561               GSW       4
13       George Hill     201588               CLE       4
14       Rodney Hood     203918               CLE       4
15        Jeff Green     201145               CLE       4
16       Kyle Korver       2594               CLE       4
17   Larry Nance Jr.    1626204               CLE       4